.seenon-container {
  display: flex;
}
.seenon-video-wrapper {
  position: relative;
  width: 450px;
  height: 640px;
  margin: 40px;
  overflow: hidden; /* Prevent video overflow */
  border-radius: 10px; /* Optional: add a rounded border */
}
.centered-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video fits well within the container */
}
