.findus-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-container {
  max-width: 70%; /* Limit the width of the card */
  margin: 20px auto; /* Center the card horizontally */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
  transition: transform 0.2s; /* Smooth scaling effect on hover */
  display: flex;
  padding: 40px;
  height: 500px;
  background-color: #dddcdc !important;
  .card-image {
    width: 50%;
    height: 100%;
    border-radius: 8%;
  }
}

.card-container:hover {
  transform: scale(1.05); /* Slightly enlarge the card on hover */
}

h4 {
  text-align: center; /* Center the heading */
  margin-bottom: 20px; /* Space below the heading */
  color: #333; /* Dark color for the heading */
}

.card-content {
  padding: 16px; /* Add padding inside the card */
}

body {
  background-color: #f9f9f9; /* Light background for the page */
}
