.shop-menu-container {
  display: flex;
  .category-list {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds space between buttons */
    align-items: center; /* Center the buttons */
    margin-bottom: 20px; /* Space between categories and featured sections */
  }

  .shop-image {
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    margin-top: 20px; /* Adds spacing above the image */
  }

  .centered-image {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    height: auto; /* Maintain aspect ratio */
  }
  .shop-button {
    color: black;
  }
}
