@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

.utilities-wrapper {
  display: flex;
  align-items: center;
}

.css-1yo1f1k-MuiFormControl-root {
  margin-top: 8px !important;
}

.nav-options {
  position: relative; /* To position the pseudo-element */
  padding: 10px; /* Add some padding for better appearance */
  color: #121212;
}

.nav-options::after {
  content: ""; /* Necessary for pseudo-element */
  position: absolute; /* Position relative to .nav-options */
  left: 0;
  bottom: -2px; /* Position below the text */
  width: 100%; /* Full width */
  height: 3px; /* Height of the line */
  background-color: #006a19; /* Change this to your desired color */
  transform: scaleX(0); /* Start with no width */
  transition: transform 0.3s ease; /* Smooth transition */
  color: red !important;
}

.nav-options:hover {
  color: #006a19 !important;
}
.nav-options:hover::after {
  transform: scaleX(1); /* Expand to full width on hover */
}

.notification-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 106, 25, 0.3);
  color: rgba(0, 106, 25, 1);
  padding: 5px 10px;

  /* Ensure the text scales properly */
  width: 100%;
  box-sizing: border-box;
}

/* Style for the notification text */
.notification-text {
  font-family: "Roboto Serif", serif !important;
  font-size: 14px !important; /* Default size */
  font-weight: 700 !important;
  text-align: center; /* Ensure the text is centered */
}

.nav-options {
  font-family: "Roboto Serif", serif !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  margin: 0 10px !important;
  width: auto;
}

/* Media Queries */

/* For tablets and larger devices */
@media (min-width: 600px) {
  .notification-text {
    font-size: 14px !important; /* Increase font size for tablets */
  }
}

/* For laptops and desktops */
@media (min-width: 1024px) {
  .notification-text {
    font-size: 14px !important; /* Larger font size for desktops */
  }
}

/* For smaller mobile devices */
@media (max-width: 599px) {
  .notification-text {
    font-size: 11px !important; /* Smaller font size for mobile */
  }

  .logo-wrapper {
    flex-grow: 1; /* Allows logo to take up space and center it */
    display: flex;
    justify-content: center; /* Center the logo */
  }
}

/* .cinzel-font {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
} */
