.container {
  font-family: Arial, sans-serif;
  /* padding: 20px; */
}

.footer-links-header {
  padding: 0;
  font-family: "Cinzel", serif !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  color: rgba(55, 65, 81, 1);
}

ul {
  padding: 0;
  font-family: "Cinzel", serif;
  font-size: 16px;
  font-weight: 700;
  margin: 20px 0;
  line-height: 35px;
}

ul li {
  text-decoration: none !important;
  list-style-type: none !important;
  padding-bottom: 15px;
}

.footer-links {
  color: rgba(55, 65, 81, 0.6) !important;
  text-decoration: none !important;
}

ul li:hover,
.footer-icon:hover {
  color: #a16149 !important;
}

.top-section {
  display: flex;
  justify-content: space-around;
  /* background-color: #2f3e4e; */
  /* background-color: #e6beb8; */
  background-color: rgba(183, 121, 97, 0.7);
  backdrop-filter: blur(100px); /* Applies the glassy blur */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  padding: 16px;
  color: white;
  flex-wrap: nowrap; /* Prevents wrapping of items */
  overflow-x: auto; /* Enables horizontal scrolling */
  gap: 16px; /* Adds spacing between items */
}

.top-item {
  flex: 0 0 auto; /* Prevents shrinking and ensures items take up only their content size */
  text-align: center; /* Centers text below icons */
  width: 150px; /* Optional: Set a fixed width for consistency */
  text-align: center;
}

.bottom-icons {
  width: auto;
  height: auto;
  /* font-size: 94px !important; */
}

.subscribe {
  background-color: #ebe4de;
  /* display: flex; */
  padding: 20px;
  border-radius: 5px;
}

.subscribe-title {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px !important;
  margin-top: 0px !important;

  color: #374151;
}
.subscribe input {
  width: 70%;
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  /* margin-bottom: 20px; */
}

.subscribe button {
  border: 1px solid #ccc;

  background-color: #a16149;
  color: white;
  border: none;
  padding: 11px 15px;
  margin-bottom: 20px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.subscribe-text {
  margin-bottom: 20px;
  font-family: "Cinzel", serif !important;
  font-size: 16px;
  font-weight: 600 !important;
  color: #777;
}
