.product-card {
  text-align: center;
  position: relative;
  height: 550px;
}

.product-card img {
  object-fit: cover;
  height: 450px;
  /* transition: all 300ms ease-in-out; */
  transition: transform 300ms ease-in-out; /* Smooth zoom transition */
}

/* .product-card img:hover {
  transform: scale(1.2);
} */

/* Grayscale filter for sold-out products */
.product-card .grayscale {
  filter: grayscale(100%);
}

.css-lvx08l-MuiCardContent-root:last-child {
  padding-bottom: 8px !important;
}

.button-wrapper {
  transform: translateY(100%); /* Hide buttons initially */
  transition: transform 300ms ease-in-out;
}

/* Media query for tablets */
@media (max-width: 1023px) {
  .product-card {
    height: 450px;
  }

  .product-card img {
    max-height: 350px;
  }
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .product-card {
    height: 430px;
  }
  .product-card img {
    object-fit: cover;
    max-height: 340px;
  }
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 18px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* HTML: <div class="ribbon">Your text content</div> */

.ribbon {
  --r: 0.8em; /* control the cutout */

  border-block: 0.5em solid #0000;
  padding-inline: 0.5em calc(var(--r) + 0.25em);
  line-height: 1.8;
  clip-path: polygon(
    100% 0,
    0 0,
    0 100%,
    100% 100%,
    100% calc(100% - 0.25em),
    calc(100% - var(--r)) 50%,
    100% 0.25em
  );

  width: fit-content;
}
