.product-card {
  margin: 20px;
  text-align: center;
}

.product-card img {
  object-fit: cover;
  max-height: 400px; /* Default max height */
  transition: opacity 0.5s ease-in-out; /* Smooth transition for fading */
}

.product-card img:hover {
  transition: opacity 0.5s ease-in-out; /* Smooth transition for fading */
}

/* Media query for tablets */
@media (max-width: 1024px) {
  .product-card img {
    max-height: 300px; /* Reduced height for tablets */
  }
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .product-card img {
    max-height: 350px; /* Further reduced height for mobile */
  }
}
