.dark-background {
  background-color: rgba(102, 166, 117, 1) !important; /* Removed quotes */
  color: #fff; /* Removed quotes */
}
.light-background {
  background-color: #f0f0f0 !important; /* Removed quotes */
  color: #000; /* Removed quotes */
}

.testimonials-container {
  width: 700px; /* Adjust width for two columns */
  height: 400px;
}
.testimonials-wrapper {
  display: flex;
  justify-content: center; /* Center the contents */
}

.testimonial-content {
  display: flex;
  width: 100%; /* Ensure full width for the content */
}

.css-46bh2p-MuiCardContent-root:last-child {
  padding: 0 0 0 24px !important;
}

/* Additional media queries to ensure proper scaling */
@media (max-width: 600px) {
  .testimonials-container {
    padding: 10px 0;
    height: auto; /* Adjust height for smaller screens */
  }
}
